{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sistema Gerenciador de EPIs</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>

    <div id="container">
        
        <div id="sidebar">
            <header>
                <div class="logo">
                    <h2>Sistema de Gestão de EPIs</h2>
                </div>
            </header>
            
            <nav>
                <a href="{% url 'dashboard' %}" 
                    class="nav-button {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                    Dashboard
                </a>
                
                <a href="{% url 'listar_colaboradores' %}" 
                    class="nav-button {% if request.resolver_match.url_name == 'listar_colaboradores' or request.resolver_match.url_name == 'cadastrar_colaborador' or request.resolver_match.url_name == 'editar_colaborador' %}active{% endif %}">
                    Colaboradores
                </a>

                <a href="{% url 'listar_epis' %}" 
                    class="nav-button {% if request.resolver_match.url_name == 'listar_epis' or request.resolver_match.url_name == 'cadastrar_epi' %}active{% endif %}">
                    Lista de Equipamentos
                </a>
                
                <a href="{% url 'registrar_emprestimo' %}" 
                    class="nav-button {% if request.resolver_match.url_name == 'registrar_emprestimo' %}active{% endif %}">
                    Registrar Empréstimo
                </a>
                
                <a href="{% url 'listar_emprestimos' %}" 
                    class="nav-button {% if request.resolver_match.url_name == 'listar_emprestimos' %}active{% endif %}">
                    Movimentações
                </a>
                
                <a href="#" class="nav-button">
                    Relatórios
                </a>
                <a href="#" class="nav-button">
                    Configurações
                </a>
            </nav>
            
        </div>
        
        <div id="main-content">
            
            <header id="top-header">
                <h1>{{ page_title|default:'Dashboard' }}</h1>
                <div id="user-info">
                    <span style="font-weight: bold;">Olá, {{ user.username|capfirst }}</span>
                    <a href="{% url 'logout' %}" id="logout-link">
                        Sair
                    </a> 
                </div>
            </header>
            
            {% if messages %}
                <div id="messages-container">
                    {% for message in messages %}
                        <div class="message-box message-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div id="content-body">
                {% block content %}
                {% endblock content %}
            </div>
        </div>

    </div>

</body>
</html>