{% extends 'gerenciador_de_epi/base.html' %}

{% block content %}
    
    <h2>Colaboradores Cadastrados</h2>
    
    <div style="margin-bottom: 20px;">
        <a href="{% url 'cadastrar_colaborador' %}" class="btn-primary">
            + Cadastrar Novo Colaborador
        </a>
    </div>

    {% for colaborador in lista_colaboradores %}
        <div class="movimentacao-card">
            
            <p><strong>Nome:</strong> {{ colaborador.nome_completo }}</p>
            <p><strong>Matrícula:</strong> {{ colaborador.matricula }}</p>
            <p><strong>Setor:</strong> {{ colaborador.setor }}</p>
            <p><strong>Cargo:</strong> {{ colaborador.cargo }}</p>
            
            <div class="card-actions">
                <a href="{% url 'editar_colaborador' pk=colaborador.pk %}" class="action-link">
                    Editar
                </a>
                <a href="{% url 'deletar_colaborador' pk=colaborador.pk %}" class="action-link delete">
                    Desligar
                </a>
            </div>
            
        </div>
    {% empty %}
        <p>Nenhum colaborador encontrado.</p>
    {% endfor %}
    
{% endblock content %}